* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif, Verdana, Geneva, Tahoma;
    background-color: black;
}

header {
    background-image: url(samples/backgroundimg.jpg);
    background-position: center center;
    height: 742px;
    /* --------------------------------------------- */
    max-width: 1920px;
    box-shadow: inset 1px 0px 20px 3px;
}

nav {
    display: flex;
    justify-content: space-between;

    padding: 1rem 8rem;
    font-weight: 700;
}

nav img {
    height: 50px;
}

.topn {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.temp {
    display: none;
}

#language {
    padding: 0.4rem 1.2rem;
    font-weight: 600;
    font-size: 1rem;

    border: 0.px solid rgb(255, 255, 255);
    border-radius: 0.3rem;
    color: white;

    background-color: rgba(0, 0, 0, 0.189);

}

.topn a {
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 0.4rem 1rem;

    border-radius: 0.3rem;
    transition: background-color 0.4s;
}

.topn a:hover {
    background-color: rgb(172, 0, 0);
    transition: all 0.4s;
}

/* -----------------navbar------------------------ */
.herosection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
    top: 10rem;


    font-family: sans-serif, Verdana, Geneva, Tahoma;
    margin: auto;
    color: white;
    width: 39rem;
}

.herosection h1 {
    font-size: 53px;
    font-weight: 800;
}

.herosection h3:first-of-type {
    padding: 1.5rem;
}

.herosection h3:nth-of-type(2) {
    font-size: 1rem;
}

.herosub {
    display: flex;
    padding: 1.5rem 0rem 1.5rem 0rem;
    width: 39rem;
    gap: 5px;

}

#search {
    padding: 1.2rem;
    background-color: rgba(0, 0, 0, 0.434);
    border: 1px solid rgb(114, 107, 107);

    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    flex: 2;

}

.herosub button {
    color: white;
    background-color: red;
    border-radius: 5px;
    flex: 1;
    border: none;


    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 700;

    transition: background-color 0.4s;

}

.herosub button:hover {
    background-color: rgb(172, 0, 0);
    transition: all 0.4s;
}

/* ---------------------herosection------------- */
main {
    padding: 1rem 8rem;
    max-width: 1920px;
}

main>h3 {
    color: white;
    font-size: 1.5rem;
}

.previews {
    display: flex;
    justify-content: flex-start;
    gap: 63px;
    padding: 1.3rem 0rem;

    overflow: scroll;
}

.previews::-webkit-scrollbar {
    color: rgb(0, 0, 0);
}

.previews::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
}

.boxes1 {
    width: 12em;
    height: 16em;
    flex-shrink: 0;

    transition: transform 0.5s;

    background-image: url(https://occ-0-6155-3663.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABaW57jWqw0Gs9gqgmW816THwyNfPqphIiruQRFy9KXtt9PTPJpB4kzDKriPcpNjPKCj0itu1Yfjl-CR8rGEokBHPKE4O9lZQHXHRRpUHEelwoKk8lOf4gqlws-HnR2iZeSk4.webp?r=609);
    background-position: center center;
    border-radius: 10px;
}

/* ------------------------------------------------------------------------------------ */
.box2 {
    background-image: url(https://occ-0-6155-3663.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABbseCvMwOHdHL3P32GIeSthQVIKkmQmnbNu_wbWHMBPYCqoED7aOFGjfEz3Uiwpk0rQ3jmRUL0B2ybbso3_rWM5eC6nhyAN7gGBexVG4geRDPKaSImz8A9a7_cun7cT8fTeQ.webp?r=817);
}

.box3 {
    background-image: url(https://occ-0-6155-3663.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABU73BvQjJgydQFEJ-vZZw9QtO8fL6lIxc71x9tOqxgDWh_BHokCWPIbGC5AxJjDk0D_sIH5KhmmYm9HLr3DKUXg8eo6nzF0rtSI.webp?r=d95);
}

.box4 {
    background-image: url(https://occ-0-6155-3663.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABVVzJ7Q5ewWWr7Ju9Vpu5gUq1Guy_hTrvChxJceb-sKqWPiIs1YGHsy_iC2mNT5bKs2BepshCHriwd7IQhYM2HPuqd7MBfqMXFL8nXJshtQEi6-KAKZAcSvG7xE3daK4ABuC.webp?r=81a);
}

.box5 {
    background-image: url(https://occ-0-6155-3663.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABYGL4_ns5MGTE5-Yd3ZQVB5apyY9yxQ39lxjT_27ehdoGzrxRwNc4osgXEeifcv9yO_MgMySL-p6hMxtQZnIEkZmyglIJ7wm7ik.webp?r=c23);
}

.box6 {
    background-image: url(https://occ-0-6155-3663.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABace3lfDYdvDP5GhS8n6Djz3jW0sjZtFLOYIGR9fQQS48CE1DC8PQ8-DlTy5qKPDPjeQcfX7AVJzFKz2zW2lsbUq5yiYN0g1NmTRk6F4dajOtAdVKLn_bBW6tGbQr22e74Mx.webp?r=fb9);
}

.box7 {
    background-image: url(https://occ-0-6155-3663.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABcH5_XDKPeXszDIKUeRk9f8gbZf2IIH_vdf4CNwOb7kql21x-tuHFIQn1NVGFCzD79WrtEa2YEWqbSqJAs8AAOymvo6mcwfQlFM.webp?r=e74);
}

/* ----------------------------------------------- */
.boxes1:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

/* -------------series previews-------------- */
.info {
    display: flex;
    gap: 30px;
    padding: 1.3rem 0rem;
    flex-wrap: wrap;

}

.boxes2 {
    position: relative;

    flex: 1;
    background: #07344a;
    background: linear-gradient(90deg, rgba(7, 52, 74, 1) 0%, rgba(63, 7, 66, 1) 62%, rgba(41, 0, 69, 1) 100%);
    color: white;

    padding: 1rem;

    height: 15vw;

    border-radius: 10px;

    min-width: 14rem;

}

.boxes2 h2 {
    padding: 0.7rem 0rem;
}

.boxes2 p {
    color: rgb(138, 139, 150);
}

.boxes2 svg {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

/* ----info------ */
.freqqns .qns {

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgb(50, 50, 50);

    padding: 1.6rem;
    margin: 0.7rem;

    transition: background-color 0.2s;

}

.qns h2 {
    font-weight: 500;
}

.qns:hover {
    background-color: rgb(69, 69, 69);
    transition: all 0.2s;
}

/* ------qns---------- */
.last {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 3rem 3rem 1rem 3rem;
}

.last h4 {
    color: white;
    font-weight: 500;
}

.herosub2 {
    display: flex;
    padding: 1.5rem 0rem 1.5rem 0rem;
    width: 50rem;
    gap: 5px;

}

#search2 {
    padding: 1.2rem;
    background-color: rgba(0, 0, 0, 0.434);
    border: 1px solid rgb(114, 107, 107);

    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    flex: 3;

}

.herosub2 button {
    color: white;
    background-color: red;
    border-radius: 5px;
    flex: 1;
    border: none;


    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 700;

    transition: background-color 0.4s;

}

.herosub2 button:hover {
    background-color: rgb(172, 0, 0);
    transition: all 0.4s;
}

/* -------footer------------ */
footer {
    max-width: 1920px;
    padding: 1rem 8rem;

    padding-bottom: 10rem;

}

footer h4:first-of-type {
    color: rgb(174, 176, 176);
    padding-bottom: 2rem;
}

footer h4:first-of-type span {
    text-decoration: underline;
}

.container a {
    display: inline-block;
    width: 273px;
    padding: 0.5rem 0rem;

    color: rgb(174, 176, 176);
    font-size: 0.9rem;
}

/* -----------------down----------- */
.boxx {
    padding: 2rem 0rem;
}

/* ----------end------ */
footer h5 {
    color: rgb(174, 176, 176);
    padding: 1rem 0rem;
    font-weight: 500;
}

footer h5 a {

    color: blue;

}


@media only screen and (max-width:1200px) {
    nav {
        padding: 1rem 5rem;

    }

    nav img {
        height: 45px;
    }

    .herosection h1 {
        font-size: 48px;
    }

    main {
        padding: 1rem 5rem;
    }

    footer {
        padding: 1rem 5rem;
        padding-bottom: 9rem;
    }
}

/* ------tablet--------------- */
@media only screen and (max-width:1000px) {
    .herosub2 {
        flex-direction: column;
        width: 30rem;
    }

    .last {
        padding: 1rem;
    }
}

@media only screen and (max-width:768px) {

    nav,
    main,
    footer {
        padding: 1rem 2rem;
    }

    .herosection {
        width: 36rem;
    }

    .herosection h1 {
        font-size: 40px;
        font-weight: 800;
    }

    .herosub {
        flex-direction: column;
        width: 30rem;
    }

    #search {
        padding: 1rem;

    }

    #search2 {
        padding: 1rem;

    }

}

@media only screen and (max-width:576px) {

    nav,
    main,
    footer {
        padding: 1rem;
    }

    header {
        height: 600px;
    }

    .herosection {
        width: 30rem;
        top: 8rem;
    }

    .herosection h1 {
        font-size: 30px;
    }

    .herosection h3:nth-of-type(2) {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .herosub {
        padding: 1rem;
        width: 28rem;
    }

    .herosub button {
        padding: 0.6rem;
        font-size: 1rem;
    }

    .previews {
        gap: 40px;
    }
}

@media only screen and (max-width:509px) {
    nav img {
        height: 35px;
    }

    nav,
    main,
    footer {
        padding: 1.5rem;
    }

    .temp1 {
        display: none;
    }

    .temp {
        display: inline-block;
    }

    #language {
        padding: 0.4rem 0.6rem;
    }

    .herosub {
        width: 25rem;
    }

    .herosub2 {
        width: 25rem;
    }
}

@media only screen and (max-width:425px) {
    .herosection {
        width: 22rem;
        top: 6rem;
    }

    .herosub {
        justify-content: center;
        align-items: center;
        width: 19rem;
        gap: 16px;
    }

    #search {
        width: 19rem;
    }

    .herosub2 {
        width: 20rem;
    }

    .qns h2 {
        font-size: 19px;
    }

    .boxes2 {
        height: 25vw;
    }

    .herosub button {
        width: 14rem;
    }

    nav img {
        height: 30px;
    }

    main>h3 {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width:375px) {
    nav img {
        height: 28px;
    }

    header {
        height: 555px;
    }

    .herosub button {
        width: 10rem;
    }

    #search {
        width: 17rem;
    }

    .herosub {
        gap: 16px;
    }

    .herosection {
        width: 20rem;
    }

    .herosection h1 {
        font-size: 27px;
    }

    .herosection h3:first-of-type {
        font-size: 15px;
        font-weight: 400;
    }

    .herosection h3:nth-of-type(2) {
        font-size: 14px;
        font-weight: 600;
    }

    .boxes2 {
        height: 43vw;

    }

    #language {
        width: 61px;
        font-size: 10px;
    }

    .topn a {
        font-size: 13px;
        padding: 0.4rem 0.7rem;
    }

    .herosub2 {
        width: 16rem;
    }

    .qns h2 {
        font-size: 16px;
    }

    .last h4 {
        font-size: 15px;
    }

    .boxes2 h2 {
        font-size: 21px;
    }

    .boxes2 p {
        font-size: 15px;
    }
}

@media only screen and (max-width:336px) {
    nav,main,footer{
        padding:1rem ;
    }
    .herosection h1 {
        font-size: 22px;
    }
    .herosection h3:first-of-type{
        font-size: 15px;
    }
    .herosection h3:nth-of-type(2){
        font-size: 12px;
    }
    #search{
        width: 14rem;
    }
    .herosub{
        width: 5rem;
    }
}
.imggdown{
    max-width: 1920px;
    height: 96px;
    background-image: url(samples/downside.png);
    background-position: center center ;

}
.buttontemp{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;

    border: 3px solid black;
    height: 200px;
    width: 300px;
    background-color: white;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    border-radius: 20px;
    padding: 20px;
}

.buttontemp img{
    border-radius: 10px;
    box-shadow: 5px 6px 13px 0px;
}
.tblur{
    filter: blur(20px);
}

/* -------------------------------------------------------------------------------------------------------- */


